.account-details {
    max-width: 600px;
    font-family: $font-main;

    h2 {
        font-family: $font-heading;
        color: $secondary-color;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

}