.account-page-container {
    min-height: 77vh;
    display: flex;
}

.account-sidebar {
    width: 20vw;
    background-image: url('/assets/pattern.png');
    background-repeat: repeat;
    padding: 2rem;

    h2 {
        font-family: $font-heading;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        color: $secondary-color-darken;
    }

    nav {
        display: flex;
        flex-direction: column;

        .nav-link {
            color: $dark-color;
            text-decoration: none;
            font-family: $font-main;
            font-size: 1.1rem;
            padding: 1rem 0;
            transition: color 0.2s ease;
            display: flex;
            align-items: center;
            border-bottom: 1px solid;

            svg {
                margin-right: 0.6rem;
            }

            &.active,
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

.account-main {
    flex: 1;
    padding: 4rem;

    h1,
    h2 {
        font-family: $font-heading;
        color: $secondary-color;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1rem;
        color: $dark-color;
    }
}