.admin-orders {
    h2 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        color: $secondary-color;
        margin-top: 3rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .highlight-pickup {
        background-color: #e7f9ec;
        border-left: 3px solid #2e7d32;
    }

    .highlight-pending {
        background-color: $primary-color-less-darken;
    }

    .admin-show-archive-button {
        font-family: $font-main;
        margin-left: 1rem;
        font-size: 0.8rem;
        color: $secondary-color;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: underline;
    }
}

@media (max-width: 1023px) {
    .admin-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        border: 1px solid $primary-color-darken;
        border-radius: 5px;
        white-space: nowrap;

        thead {
            display: none;
        }

        tbody {
            display: block;
        }

        tr {
            display: grid;
            grid-template-columns: 1fr;
            border-bottom: 1px solid $primary-color-darken;
            padding: 1rem;
        }

        td {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.5rem 0;
            gap: 0.2rem;
            word-break: break-word;

            &::before {
                content: attr(data-label);
                font-weight: bold;
                color: $dark-color-lighten;
            }
        }
    }
}