.cart-page {
    padding: 2rem 4rem;
    padding-bottom: 3rem;

    .login-prompt {
        text-align: center;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        border: 1px solid $primary-color-darken;
        background-color: $primary-color;
        border-radius: 5px;

        span {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .custom-button {
            padding: 0.5rem 0.7rem;
        }
    }

    .cart-layout {
        display: flex;
        gap: 3rem;
        align-items: flex-start;
    }

    .cart-items {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .cart-clear {
            font-weight: 600;
            margin-top: 2rem;
            color: $secondary-color;
            cursor: pointer;

            &:hover {
                font-weight: 700;
            }
        }
    }

    .cart-summary {
        position: sticky;
        top: 2rem; // odsunięcie od góry ekranu, dostosuj wartości wedle potrzeb
        align-self: flex-start; // żeby sticky działało poprawnie we flex containerze

        flex: 1;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: $primary-color;
        border-radius: 5px;
        border: 1px solid $primary-color-darken;

        .free-shipping {
            text-align: center;
            padding: 1rem;
            margin-bottom: 1rem;

            em {
                font-weight: 600;
                font-style: normal;
                font-size: 1.3rem;
            }

            &.free {
                background: $accent-color;
                color: $dark-color;
            }

            &:not(.free) {
                background: $dark-color;
                color: $primary-color;
            }
        }

        .summary-total {
            .summary-brutto {
                display: flex;
                justify-content: space-between;
                color: $dark-color-lighten;
                text-transform: uppercase;
                padding: 1rem 0;
                border-top: 1px solid $primary-color-darken;
                border-bottom: 1px solid $primary-color-darken;

                strong {
                    font-size: 1.4rem;
                    font-family: $font-heading;
                    color: $secondary-color;
                }
            }

            .summary-vat {
                display: flex;
                justify-content: space-between;
                color: $dark-color-lighten;
                font-size: 0.9rem;
                padding: 1rem 0;
                border-bottom: 1px solid $primary-color-darken;

                strong {
                    font-family: $font-heading;
                    color: $dark-color;
                }
            }
        }

        button {
            margin-top: auto;
            width: 100%;
        }
    }


    .inline-alert {
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        border: 1px solid $accent-color;
        background: $primary-color;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 500;

        .custom-button {
            padding: 0.5rem 0.7rem;
        }
    }
}

// Gdy koszyk pusty
.cart-empty {
    padding: 2rem 1rem;

    .empty-container {
        text-align: center;
        justify-items: center;
        padding: 2rem 0;

        svg {
            color: $dark-color;
            margin-bottom: 1rem;
            display: block;
        }

        p {
            margin-bottom: 3rem;
            color: $dark-color;
            font-size: 1.6rem;
            font-family: $font-heading;
            font-weight: 600;
            text-transform: none;
            padding: 1.5rem 0;
            border: 1px solid $primary-color-darken;
            border-radius: 10px;
            background-color: $primary-color;
            width: 60%;
        }
    }
}