.intro-category-section {
  padding: 2rem 1.6rem;

  .intro-header {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
    column-gap: 2rem;

    // tytuł w samym środku
    h1 {
      margin: 0;
      text-align: center;
      font-size: 2.5rem;
      font-family: $font-decorative;
      color: $primary-color;
    }

    .sort-wrapper {
        justify-self: right;
    }
  }
}

.products-grid-section {
    flex: 1;              // rozciągnij tę sekcję do dołu
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .no-products {
        font-size: 1.5rem;
        align-self: center;
    }
    .custom-button {
        margin-top: 1.5rem
    }
}