.page {
    .categories-section {
        .categories-info {
            justify-items: center;
            h2 {
                font-size: 2rem;
            }
            p {
                margin-top: 1rem;
                font-size: 1.2rem;
            }
        }
    }
}