$primary-color:      #ffffff;
$primary-color-darken:       #e7e7e7;

$accent-color:        #e4d78d;
$accent-color-darken:            #b98235;

$secondary-color-darken:     #5f1112;
$secondary-color:     #98181b;
$secondary-color-lighten: #c21f22;

$dark-color:           #1a1613;
$dark-color-lighten: #383534;

// ==== CZCIONKI ====
$font-main: 'Roboto Slab', sans-serif;
$font-heading: 'Lora', serif;
$font-decorative: 'Quintessential', 'sans-serif';