$primary-color:             #e4d78d;
$primary-color-darken:       #d4b86d;
$primary-color-lighten:      #e5daa6;
$accent-color:        #cdbe78;
$primary-shadow:      #bf9a51;
$primary-darken:            #b98235;

$secondary-color:     #5f1112;
$secondary-lighten:     #98181b;

$dark-color:           #1a1613;

$white:    #ffffff;

// ==== CZCIONKI ====
$font-main: 'Open Sans', sans-serif;
$font-heading: 'Lora', serif;