$primary-color:             #e4d78d;
$primary-color-darken:       #d4b86d;
$primary-color-lighten:      #e5daa6;
$accent-color:        #cdbe78;
$darken:            #b98235;
$darken-shadow:      #bf9a51;

$secondary-color-darken:     #5f1112;
$secondary-color:     #98181b;
$secondary-color-lighten: #c21f22;

$dark-color:           #1a1613;

$white:    #ffffff;

// ==== CZCIONKI ====
$font-main: 'Roboto Slab', sans-serif;
$font-heading: 'Lora', serif;
$font-decorative: 'Quintessential', 'sans-serif';