/* ================== CZCIONKI ================== */
/* ==== LORA ==== */
@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* ==== ROBOTO SLAB ==== */
@font-face {
  font-family: 'Roboto Slab';
  src: url('../../public/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* ==== QUINTESSENTIAL ==== */
@font-face {
  font-family: 'Quintessential';
  src: url('../../public/fonts/Quintessential/Quintessential-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* ================== IMPORTY ================== */
@import "./variables";
@import "./components/forms";
@import "./components/auth";
@import "./components/common/header";
@import "./components/common/banner.scss";
@import "./components/common/cookie_consent_banner";
@import "./components/common/button";
@import "./components/common/footer";
@import "./components/common/spinner";
@import "./components/common/load_error";
@import "./components/common/alert";
@import "./components/common/info_tip";
@import "./components/common/confirm_dialog";
@import "./components/cart/cart_drawer";
@import "./components/cart/cart_item_tile";
@import "./pages/home_page";
@import "./pages/not_found_page";
@import "./components/categories/category_tile";
@import "./components/categories/category_grid";
@import "./components/common/features_section";
@import "./pages/account/accout_page";
@import "./pages/account/account_dashboard";
@import "./pages/contact_page";
@import "./pages/account/account_details";
@import "./animations";
@import "./pages/account/address_form";
@import "./pages/category_page";
@import "./components/products/products_grid";
@import "./components/products/product_tile";
@import "./pages/account/change_password";
@import "./components/common/add_to_cart";
@import "./components/common/breadcrumbs";
@import "./components/common/sort_dropdown";
@import "./pages/product_page";
@import "./components/common/quantity_stepper";
@import "./pages/cart/cart_page";
@import "./components/cart/checkout_steps";
@import "./components/cart/cart_row";
@import "./components/reviews/rating_stars";
@import "./components/reviews/review_summary";
@import "./components/reviews/review_item";
@import "./components/reviews/review_list";
@import ".//pages/return_complaints_page";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./components/common/gallery_slider";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.page {
  min-height: 77vh;
  display: flex;
  flex-direction: column;

  section {
    padding: 3rem;
  }

  .dark-section {
    background-image: url('/assets/tlo_grafit.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $primary-color; // jasny tekst, np. biały

    h1,
    h2,
    h3 {
      color: $primary-color;
    }
  }


  .red-section {
    position: relative;
    background-color: $secondary-color;
    overflow: hidden;

    // gradienty na krawędziach (góra, dół, lewo, prawo)
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      z-index: 0;
      background:
        linear-gradient(to bottom, darken($secondary-color, 10%), transparent 40%),
        linear-gradient(to top, darken($secondary-color, 10%), transparent 40%),
        linear-gradient(to right, darken($secondary-color, 10%), transparent 40%),
        linear-gradient(to left, darken($secondary-color, 10%), transparent 40%);
    }

    // elementy nad gradientem
    >* {
      position: relative;
      z-index: 1;
    }

    h1,
    h2,
    h3 {
      color: $primary-color;
    }

    color: $primary-color;

    .feature-icon,
    .feature-title {
      color: $accent-color;
    }
  }

  .white-section {
    background-color: $primary-color;
    color: $dark-color;

    h1,
    h2,
    h3 {
      color: $secondary-color;
    }

    .feature-icon {
      color: $secondary-color;
    }

    .feature-title {
      color: $secondary-color;
    }
  }

  .pattern-section {
    background-color: $primary-color-less-darken;
    background-image: url("../assets/pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    color: $dark-color;

    h1,
    h2,
    h3 {
      color: $secondary-color;
    }

    .feature-icon {
      color: $secondary-color;
    }

    .feature-title {
      color: $secondary-color;
    }
  }
}