/* ================== CZCIONKI ================== */
/* ==== CORMORANT ==== */
@font-face {
  font-family: 'Cormorant';
  src: url('../../public/fonts/Cormorant/Cormorant-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../../public/fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* ==== CRIMSON TEXT (STATIC) ==== */
@font-face {
  font-family: 'Crimson Text';
  src: url('../../public/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../../public/fonts/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../../public/fonts/Crimson_Text/CrimsonText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* ==== EB GARAMOND ==== */
@font-face {
  font-family: 'EB Garamond';
  src: url('../../public/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../../public/fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* ==== LORA ==== */
@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* ==== ROBOTO ==== */
@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* ==== QUINTESSENTIAL ==== */
@font-face {
  font-family: 'Quintessential';
  src: url('../../public/fonts/Quintessential/Quintessential-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* ================== IMPORTY ================== */
@import "./variables";
@import "./components/forms";
@import "./components/auth";
@import "./components/common/header";
@import "./components/common/banner.scss";
@import "./components/common/cookie_consent_banner";
@import "./components/common/button";
@import "./components/common/footer";
@import "./pages/home_page";
@import "./components/common/category_tile";
@import "./components/common/category_grid";
@import "./components/common/features_section";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.page {
  min-height: 77vh;

  section {
    padding: 5rem;
  }

  .creamy-section {
    background-color: $primary-color-lighten;

    h1,h2,h3 { color: $secondary-color;}
    color: $dark-color;
  }
  .red-section {
    background-color: $secondary-color;

    h1,h2,h3 { color: $white;}
    color: $primary-color-lighten;
  }
  .white-section {
    background-color: $white;
    color: $dark-color;

    h1,h2,h3 { color: $secondary-color;}
    
    .feature-icon {
      color: $secondary-color;
    }
    .feature-title {
      color: $secondary-color;
    }
  }
}