/* ================== CZCIONKI ================== */
/* ==== LORA ==== */
@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* ==== ROBOTO ==== */
@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* ==== QUINTESSENTIAL ==== */
@font-face {
  font-family: 'Quintessential';
  src: url('../../public/fonts/Quintessential/Quintessential-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* ================== IMPORTY ================== */
@import "./variables";
@import "./components/forms";
@import "./components/auth";
@import "./components/common/header";
@import "./components/common/banner.scss";
@import "./components/common/cookie_consent_banner";
@import "./components/common/button";
@import "./components/common/footer";
@import "./pages/home_page";
@import "./components/common/categories/category_tile";
@import "./components/common/categories/category_grid";
@import "./components/common/features_section";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.page {
  min-height: 77vh;

  section {
    padding: 5rem;
  }

  .creamy-section {
    background-color: $primary-color-lighten;

    h1,h2,h3 { color: $secondary-color;}
    color: $dark-color;
  }

  .red-section {
    background-color: $secondary-color;

    h1,h2,h3 { color: $white;}
    color: $primary-color-lighten;

    .feature-icon {
      color: $white;
    }
    .feature-title {
      color: $white;
    }
  }
  
  .white-section {
    background-color: $white;
    color: $dark-color;

    h1,h2,h3 { color: $secondary-color;}

    .feature-icon {
      color: $secondary-color;
    }
    .feature-title {
      color: $secondary-color;
    }
  }
}