.banner {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $white;

  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .banner__label {
      font-family: $font-decorative;
      font-size: 1.8rem;
      color: $primary-color;
      margin-bottom: 0.5rem;
    }

    .banner__title {
      font-size: 3rem;
      font-weight: 700;
      margin: 0 0 1rem 0;
    }

    .banner__subtitle {
      max-width: 50%;
      font-size: 1.2rem;
      margin-bottom: 2rem;
      line-height: 1.5;
    }
  }
}