.custom-button {
    font-family: $font-heading;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    letter-spacing: 0.5px;

    &.red {
        background-color: $secondary-color;
        color: $primary-color;

        &:hover {
            background-color: $secondary-color-darken;
        }
    }

    &.beige {
        background-color: $accent-color;
        color: $dark-color;

        &:hover {
            background-color: $accent-color-darken;
        }
    }

    &.dark {
        background-color: $dark-color;
        color: $primary-color;

        &:hover {
            background-color: $accent-color-darken;
        }
    }
}