.page {
    .features-section {
        padding: 2.5rem 5rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;

        .feature-item {
            flex: 1 1 200px;
            max-width: 300px;
            text-align: center;

            .feature-icon {
                font-size: 3rem;
            }
            .feature-title {
                font-family: $font-decorative;
                font-weight: 550;
                font-size: 1.4rem;
                margin-bottom: 0.5rem;
            }
            .feature-subtitle {
                font-size: 1rem;
                text-shadow: none;
            }
        }
    }
}
