.page {
    .features-section {
        padding: clamp(2rem, 5vw, 6rem);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: clamp(1.5rem, 3vw, 3rem);

        .feature-item {
            flex: 1 1 clamp(150px, 25vw, 300px);
            max-width: clamp(200px, 30vw, 360px);
            text-align: center;

            .feature-icon {
                font-size: clamp(1.8rem, 2.5vw, 4rem);
            }

            .feature-title {
                font-family: $font-decorative;
                font-weight: 550;
                font-size: clamp(1.1rem, 1.7vw, 2.3rem);
                margin-bottom: 0.5rem;
            }

            .feature-subtitle {
                font-size: clamp(0.9rem, 1.2vw, 1.5rem);
                text-shadow: none;
            }
        }
    }

    // Układ kolumnowy na mobilu
    @media (max-width: 767px) {
        .features-section {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .feature-item {
                max-width: 90%;
            }
        }
    }
}