.gallery-slider {
  max-width: clamp(1000px, 80vw, 1600px);
  margin: 0 auto 3rem;
  padding: clamp(1rem, 2.5vw, 2.5rem) 0;

  .gallery-slide {
    padding: 0 8px;

    img {
      width: 100%;
      height: clamp(220px, 25vw, 450px);
      object-fit: cover;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    }
  }

  .slick-prev,
  .slick-next {
    width: clamp(40px, 4vw, 70px);
    height: clamp(40px, 4vw, 70px);
    z-index: 3;
    border-radius: 50%;

    &.slick-prev {
      left: calc(clamp(35px, 4vw, 70px) * -1);
    }

    &.slick-next {
      right: calc(clamp(35px, 4vw, 70px) * -1);
    }

    &:before {
      font-size: clamp(26px, 2.5vw, 40px);
      color: $secondary-color;
    }

    &:hover {
      &:before {
        color: $dark-color;
      }
    }
  }

  .slick-dots li button:before {
    font-size: clamp(8px, 0.9vw, 14px);
    color: $secondary-color;
  }

  .slick-dots li.slick-active button:before {
    color: $dark-color;
  }

  @media (max-width: 768px) {

    .slick-prev,
    .slick-next {
      display: none !important;
    }

    .slick-dots {
      display: block !important;
    }
  }
}