.header {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .header-inner {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        margin: 0 auto;
        gap: 2rem;

        .logo-wrapper {
            img {
                width: 8rem;
                height: auto;
            }
        }

        #main-nav {
            flex: 1;

            .menu {
                display: flex;
                gap: 4rem;
                justify-content: center;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                .menu-item {
                    .nav-link {
                        text-decoration: none;
                        font-size: 0.9rem;
                        color: $dark-color;
                        font-family: $font-heading;
                        text-transform: uppercase;

                        position: relative;
                        padding: 0.9rem 0;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $secondary-color-lighten;
                        }

                        &:hover::after {
                            background: $secondary-color-lighten;
                        }

                        &.active {
                            color: $secondary-color;
                        }

                        &.active::after {
                            background: $secondary-color;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 0;
                            transform: translateX(-50%);
                            height: 3px;
                            background: $secondary-color-lighten; // domyślnie hover-owy
                            transition: width 0.3s ease, left 0.3s ease, background 0.3s ease;
                        }

                        &:hover::after,
                        &.active::after {
                            width: 110%;
                        }
                    }
                }
            }
        }

        .account-icons {
            display: flex;
            gap: 1.8rem;
            padding-left: 2rem;
            border-left: 1px solid $dark-color;

            a,
            button.account-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.7rem;
                text-transform: uppercase;
                font-family: $font-heading;
                text-decoration: none;
                color: $dark-color;
                font-weight: 500;
                background: none;
                border: none;
                cursor: pointer;

                transition: color 0.3s ease;

                svg {
                    font-size: 2.8rem;
                    margin-bottom: 0.2rem;
                    fill: currentColor;
                    transition: transform 0.3s ease;
                }

                &:hover {
                    color: $secondary-color-lighten;

                    svg {
                        transform: scale(1.05);
                    }
                }

                &.active {
                    color: $secondary-color;
                }
            }
        }

    }
}