.header {
    .header-inner {
        background-color: $primary-color-lighten;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 4rem;
        margin: 0 auto;
        gap: 2rem;
        .logo-wrapper {
            img {
                width: 9rem;
                height: auto;
            }
        }
        #main-nav {
            flex: 1;
            .menu {
                display: flex;
                gap: 4rem;
                justify-content: center;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;
                .menu-item {
                    .nav-link {
                        text-decoration: none;
                        font-size: 1.2rem;
                        color: $dark-color;
                        font-family: $font-heading;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                    }
                }
            }
        }
        .account-icons {
            display: flex;
            gap: 1.8rem;
            padding-left: 2rem;
            border-left: 1px solid $dark-color;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.7rem;
                text-transform: uppercase;
                font-family: $font-heading;
                text-decoration: none;
                color: $dark-color;
                svg {
                    font-size: 2rem;
                    margin-bottom: 0.2rem;
                }
            }
        }
    }
}