.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0;

    button {
        font-family: $font-main;
        background: none;
        border: 1px solid $dark-color-lighten;
        border-radius: 5px;
        padding: 0.3rem 0.6rem;
        cursor: pointer;
        color: $dark-color;
        transition: all 0.2s ease;

        &:not(:disabled):hover {
            background-color: $secondary-color-darken;
            color: $primary-color;
            border-color: $secondary-color-darken;
        }

        &:disabled {
            opacity: 0.4;
            cursor: default;
        }
    }

    .active {
        background-color: $secondary-color;
        color: $primary-color;
        border-color: $secondary-color;
    }
}