.cart-row {
    display: grid;
    grid-template-columns:
        100px
        /* obrazek */
        2fr
        /* nazwa+jednostka */
        100px
        /* cena */
        120px
        /* ilość */
        100px
        /* kwota */
        20px
        /* usuń */
    ;
    align-items: center;
    background-color: $primary-color;
    border-radius: 5px;
    border: 1px solid $primary-color-darken;
    padding: 1rem;
    gap: 0.5rem;

    &--header {
        background: transparent;
        border-color: transparent;

        .cart-row__img,
        .cart-row__price,
        .cart-row__qty,
        .cart-row__total {
            color: $dark-color-lighten;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 0.9rem;
            text-align: center;
        }

        .cart-row__details {
            /* pusta */
        }

        .cart-row__remove {
            /* puste */
        }
    }

    &__img img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &__details {
        padding-left: 0.5rem;

        .cart-row__name {
            font-weight: 800;
            font-size: 1.2rem;
            color: $dark-color;
            margin-bottom: 0.25rem;
            text-decoration: none;
            transition: 0.2s color ease;

            &:hover {
                color: $secondary-color;
            }
        }

        .cart-row__unit {
            font-size: 0.9rem;
            color: $dark-color-lighten;
        }
    }

    &__price,
    &__total {
        font-weight: 700;
        text-align: center;
        color: $dark-color;
    }

    &__total {
        color: $secondary-color;
        font-size: 1.4rem;
        font-family: $font-heading;
    }

    &__qty {
        display: flex;
        justify-content: center;
    }

    &__remove {
        display: flex;
        justify-content: center;

        button {
            background: none;
            border: none;
            color: $dark-color-lighten;
            cursor: pointer;
            transition: color 0.2s;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}