.cart-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 380px;
    height: 100%;
    background: $primary-color;
    padding: 1rem 1.5rem;
    transition: right 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    color: $dark-color;

    &.open {
        right: 0;
    }

    .cart-header {
        display: flex;
        justify-content: flex-end;

        .close-button {
            font-size: 3rem;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            color: $secondary-color;
            transition: 0.2s color ease;

            &:hover {
                color: $secondary-color-darken;
            }
        }
    }

    .cart-items {
        padding-right: 1rem;
        overflow-y: auto;
        margin: 0;
        list-style: none;

        .empty-message {
            padding: 0 1rem;
            text-align: center;
            color: $dark-color-lighten
        }

    }

    .cart-footer {
        border-top: 1px solid #ddd;

        .total {
            padding: 1rem 0;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid #ddd;

            em {
                display: flex;
                justify-content: space-between;

                span {
                    font-weight: 600;
                    font-size: 1.1rem;
                    font-style: normal;
                }
            }

            span {
                display: block;
                font-size: 0.9rem;
            }
        }

    }
}

.cart-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1999;
}