.category-tile {
  position: relative;
  height: clamp(200px, 17vw, 500px);
  overflow: hidden;
  text-decoration: none;
  display: block;

  .tile-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
    filter: brightness(0.5);
  }

  .tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tile-icon {
      font-size: clamp(2rem, 3vw, 4.5rem);
      color: $primary-color;
    }

    .tile-title {
      font-size: clamp(1.1rem, 1.5vw, 2rem);
      color: $primary-color;
    }
  }

  &:hover .tile-image {
    filter: brightness(0.75);
  }
}