.cart-items.form-wrapper {
    .form-group {
        .form-section {
            .info-tip {
                font-size: 0.85rem;
                color: $dark-color-lighten;
                margin: 1rem 0 0 0;
            }
        }

    }

}